@use '../variables' as vars;
@use'../mixins';

.pageCalculator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 16px;
	font-family:sans-serif;
	@include mixins.gradient-background-line;

.calculator {
  flex-basis: 70%;
  max-width: 400px;
  height: 500px;
  padding: 20px 35px;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#result {
	background: rgb(255, 255, 255, 0.8);
	max-width: 75%;
	padding: 1.2rem;
	font-size: 1.6rem;
	border-radius: 1.2em;
	box-shadow: 6px 6px 10px -1px rgb(0,0,0,0.15),
       -6px -6px 10px -1px rgb(255,255,255,0.7);
	border: 1px solid rgb(0,0,0,0);
	color: #484d50;
	font-family: 'SunnyspellsRegular';
}
input {
	width: 55%;
	overflow-x: scroll;
	overflow-y: hidden;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5% 0;
}
@include mixins.button-tecla(vars.$white, vars.$brand-secondary, vars.$brand-tertiary, vars.$brand-primary, 8rem);


.clear {
	background: #c5b1d6;
	color: #ffffff;
}
.operator {
	background: #f2d5e3;
	
}
.equal {
	background: #bde6d9;
}
}