
#message{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.65);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 6px 6px 10px -1px rgb(0,0,0,0.15),
	      -6px -6px 10px -1px rgb(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    display: block;
}

  
.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOutUp {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    }
    @keyframes fadeOutUp {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
} 

.characters{
    display: flex;
    height: 35%;
    align-items: center;
}

#message h2 {
    font-size: 24px;
    font-weight: 600;
    color:#484d50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
#message label {
    display:flex;
    flex-direction: column;
  }
  

#game{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(197,139,229,0.896796218487395) 0%, 
    rgb(168,192,238,1) 50%, 
    rgb(255,183,253,0.8995973389355743) 100%);
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:12px
}


.board {
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255, 0.65);
    cursor: pointer;
}

.cell .star,
.cell .cloud{
    cursor: not-allowed;
}

.cell[data-cell="0"],
.cell[data-cell="1"],
.cell[data-cell="2"]{
    border-top: none;
}

.cell[data-cell="0"],
.cell[data-cell="3"],
.cell[data-cell="6"]{
    border-left: none;
}

.cell[data-cell="2"],
.cell[data-cell="5"],
.cell[data-cell="8"]{
    border-right: none;
}

.cell[data-cell="6"],
.cell[data-cell="7"],
.cell[data-cell="8"]{
    border-bottom: none;
}


.star{
    
  background-image: url('../img/tic-tac-toeGame/star.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 85%;
}
  
.cloud {
    background-image: url('../img/tic-tac-toeGame/cloud.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
  }

  .reset{
    background-color: pink;
    display: block;
  }