html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SunnyspellsRegular";
  src: url("../fonts/SunnyspellsRegular.otf");
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-family: "SunnyspellsRegular", sans-serif;
  background-image: linear-gradient(45deg, hsl(308, 33%, 66%) 1%, hsl(277, 37%, 72%) 46%, hsl(249, 46%, 77%) 51%, hsl(227, 61%, 79%) 51%, hsl(226, 76%, 82%) 49%, hsl(247, 95%, 87%) 49%, hsl(274, 100%, 87%) 54%, hsl(302, 100%, 86%) 99%);
}

.calculator {
  flex-basis: 70%;
  max-width: 400px;
  height: 500px;
  padding: 20px 35px;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#result {
  background: rgba(255, 255, 255, 0.8);
  max-width: 75%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 1.2em;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #484d50;
  font-family: "SunnyspellsRegular";
}

input {
  width: 55%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}

.button {
  border-radius: 1.2em;
  flex-basis: 20%;
  font-size: 1.6rem;
  font-family: "SunnyspellsRegular";
  height: 65px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
  color: #484d50;
}

.clicked {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.clear {
  background: #c5b1d6;
  color: #ffffff;
}

.operator {
  background: #f2d5e3;
}

.equal {
  background: #bde6d9;
}

/*# sourceMappingURL=style.css.map */
