@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  height: 100vh;
  font-family: "Fjalla One", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*background-image: linear-gradient(
45deg,
hsl(308deg 33% 66%) 1%,
hsl(277deg 37% 72%) 46%,
hsl(249deg 46% 77%) 51%,
hsl(227deg 61% 79%) 51%,
hsl(226deg 76% 82%) 49%,
hsl(247deg 95% 87%) 49%,
hsl(274deg 100% 87%) 54%,
hsl(302deg 100% 86%) 99%

outro

background: linear-gradient(90deg, rgb(197,139,229,0.896796218487395) 0%, 
  rgb(168,192,238,1) 50%, 
  rgb(255,183,253,0.8995973389355743) 100%);
*/
.pageCalculator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-family: sans-serif;
  background: -moz-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: -webkit-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
}
.pageCalculator .calculator {
  flex-basis: 70%;
  max-width: 400px;
  height: 500px;
  padding: 20px 35px;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.pageCalculator #result {
  background: rgba(255, 255, 255, 0.8);
  max-width: 75%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 1.2em;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #484d50;
  font-family: "SunnyspellsRegular";
}
.pageCalculator input {
  width: 55%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pageCalculator .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}
.pageCalculator .btn {
  appearance: none;
  display: grid;
  place-items: center;
  background: #F5F5F7;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.9s, background-color 0.9s;
  font-size: 2rem;
  color: #A8C0EE;
}
.pageCalculator .btn > * {
  transition: transform 0.5s, color 0.5s;
}
.btn:active .pageCalculator :hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.3em);
  background-color: #FFB7FD;
  color: #1D1D1F;
}
.btn:active .pageCalculator :hover > * {
  transform: scale(0.9);
}
.pageCalculator .clear {
  background: #c5b1d6;
  color: #ffffff;
}
.pageCalculator .operator {
  background: #f2d5e3;
}
.pageCalculator .equal {
  background: #bde6d9;
}

/*background-image: linear-gradient(
45deg,
hsl(308deg 33% 66%) 1%,
hsl(277deg 37% 72%) 46%,
hsl(249deg 46% 77%) 51%,
hsl(227deg 61% 79%) 51%,
hsl(226deg 76% 82%) 49%,
hsl(247deg 95% 87%) 49%,
hsl(274deg 100% 87%) 54%,
hsl(302deg 100% 86%) 99%

outro

background: linear-gradient(90deg, rgb(197,139,229,0.896796218487395) 0%, 
  rgb(168,192,238,1) 50%, 
  rgb(255,183,253,0.8995973389355743) 100%);
*/
.page-tic-tac-toeGame {
  background: #C58BE5;
  background: -moz-radial-gradient(circle, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: -webkit-radial-gradient(circle, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: radial-gradient(circle, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C58BE5", endColorstr="#A8C0EE", GradientType=1);
}
.page-tic-tac-toeGame #message {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.page-tic-tac-toeGame .btn {
  background-color: #C58BE5;
  border: 0.125rem solid #F5F5F7;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #F5F5F7;
  cursor: pointer;
  display: inline-block;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 0.33rem 1.32rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.page-tic-tac-toeGame .btn:hover {
  color: #A448D5;
  background-color: #A8C0EE;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.page-tic-tac-toeGame .btn:disabled {
  pointer-events: none;
}
.page-tic-tac-toeGame .btn:active {
  box-shadow: none;
  transform: translateY(0);
  color: #A448D5;
  background-color: #A8C0EE;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.page-tic-tac-toeGame .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}
.page-tic-tac-toeGame .fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.page-tic-tac-toeGame .characters {
  display: flex;
  height: 36%;
  align-items: center;
}
.page-tic-tac-toeGame .image-resize {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.page-tic-tac-toeGame #message h2 {
  font-size: 24px;
  color: #C58BE5;
}
.page-tic-tac-toeGame #message label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.page-tic-tac-toeGame #game {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.page-tic-tac-toeGame .board {
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}
.page-tic-tac-toeGame .cell {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  cursor: pointer;
}
.page-tic-tac-toeGame .cell .star,
.page-tic-tac-toeGame .cell .cloud {
  cursor: not-allowed;
}
.page-tic-tac-toeGame .cell[data-cell="0"],
.page-tic-tac-toeGame .cell[data-cell="1"],
.page-tic-tac-toeGame .cell[data-cell="2"] {
  border-top: none;
}
.page-tic-tac-toeGame .cell[data-cell="0"],
.page-tic-tac-toeGame .cell[data-cell="3"],
.page-tic-tac-toeGame .cell[data-cell="6"] {
  border-left: none;
}
.page-tic-tac-toeGame .cell[data-cell="2"],
.page-tic-tac-toeGame .cell[data-cell="5"],
.page-tic-tac-toeGame .cell[data-cell="8"] {
  border-right: none;
}
.page-tic-tac-toeGame .cell[data-cell="6"],
.page-tic-tac-toeGame .cell[data-cell="7"],
.page-tic-tac-toeGame .cell[data-cell="8"] {
  border-bottom: none;
}
.page-tic-tac-toeGame .star {
  background-image: url("../img/tic-tac-toeGame/star.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 85%;
}
.page-tic-tac-toeGame .cloud {
  background-image: url("../img/tic-tac-toeGame/cloud.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .page-tic-tac-toeGame .image-resize {
    max-width: 66%;
  }
}

/*background-image: linear-gradient(
45deg,
hsl(308deg 33% 66%) 1%,
hsl(277deg 37% 72%) 46%,
hsl(249deg 46% 77%) 51%,
hsl(227deg 61% 79%) 51%,
hsl(226deg 76% 82%) 49%,
hsl(247deg 95% 87%) 49%,
hsl(274deg 100% 87%) 54%,
hsl(302deg 100% 86%) 99%

outro

background: linear-gradient(90deg, rgb(197,139,229,0.896796218487395) 0%, 
  rgb(168,192,238,1) 50%, 
  rgb(255,183,253,0.8995973389355743) 100%);
*/
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: -moz-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: -webkit-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #C58BE5;
}
#background #screen {
  background: -moz-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: -webkit-linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  background: linear-gradient(40deg, #C58BE5 25%, #FFB7FD 50%, #A8C0EE 75%);
  z-index: 1;
}
#background #screen .form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 1.6rem auto;
  padding: 16px;
  gap: 0.8rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}
#background #screen .form h2 {
  grid-column: span 3;
  text-align: center;
  color: #363639;
}
#background #screen .form input {
  grid-column: span 2;
  align-self: center;
}
#background #screen .form .btn {
  appearance: none;
  display: grid;
  place-items: center;
  background: #C58BE5;
  padding: 0.3rem;
  border-radius: 0.375rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.9s, background-color 0.9s;
  font-size: 0.75rem;
  color: #F5F5F7;
}
#background #screen .form .btn > * {
  transition: transform 0.5s, color 0.5s;
}
.btn:active #background #screen .form :hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.3em);
  background-color: #7926A6;
  color: #E5E5E7;
}
.btn:active #background #screen .form :hover > * {
  transform: scale(0.9);
}

/*background-image: linear-gradient(
45deg,
hsl(308deg 33% 66%) 1%,
hsl(277deg 37% 72%) 46%,
hsl(249deg 46% 77%) 51%,
hsl(227deg 61% 79%) 51%,
hsl(226deg 76% 82%) 49%,
hsl(247deg 95% 87%) 49%,
hsl(274deg 100% 87%) 54%,
hsl(302deg 100% 86%) 99%

outro

background: linear-gradient(90deg, rgb(197,139,229,0.896796218487395) 0%, 
  rgb(168,192,238,1) 50%, 
  rgb(255,183,253,0.8995973389355743) 100%);
*/
.grid-container {
  background-color: #F5F5F7;
  display: grid;
  align-self: center;
}
.grid-container div {
  align-self: center;
  justify-content: center;
  background-color: #A8C0EE;
}

/*# sourceMappingURL=style.css.map */
