//minhas cores
$brand-primary: #C58BE5;
$brand-secondary: #FFB7FD;
$brand-tertiary: #A8C0EE;

//neutras
$white: #F5F5F7;
$black: #1D1D1F;

//mensagem alert, ok, erro
$atention:#FCE49B;
$sucess:#79BB51;
$danger:#E33942;

$color-map: (
    'primary': $brand-primary,
    'secondary': $brand-secondary,
    'tertiary': $brand-tertiary,
);

/*font-family: 'Fjalla One', sans-serif;
font-family: 'Lora', serif;*/